/* Write your CSS here */
.si-container {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.si-para {
  color: #64748b;
  font-weight: 500;
}
.si-img {
  height: 20px;
  width: 20px;
  margin: 12px;
}
